<?xml version="1.0" encoding="utf-8" ?>
<wxsmith>
	<object class="wxFrame" name="wxVessMain">
		<title>SPIN Framework</title>
		<icon>../images/logo_SPIN_simple.png</icon>
		<size>500,400</size>
		<id_arg>0</id_arg>
		<handler function="OnClose" entry="EVT_CLOSE" />
		<object class="wxSplitterWindow" name="ID_SPLITTERWINDOW1" variable="mainSplitter" member="yes">
			<sashpos>40</sashpos>
			<minsize>40</minsize>
			<minsize>40,40</minsize>
			<style>wxSP_NOBORDER|wxNO_BORDER</style>
			<object class="wxPanel" name="ID_PANEL1" variable="mainPanel" member="yes">
				<object class="wxBoxSizer" variable="BoxSizer1" member="no">
					<orient>wxVERTICAL</orient>
					<object class="sizeritem">
						<object class="wxFlexGridSizer" variable="FlexGridSizer1" member="no">
							<cols>4</cols>
							<object class="sizeritem">
								<object class="wxStaticText" name="ID_STATICTEXT1" variable="StaticText1" member="yes">
									<label>Run as:</label>
								</object>
								<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
								<border>5</border>
								<option>1</option>
							</object>
							<object class="sizeritem">
								<object class="wxRadioButton" name="ID_RADIOBUTTON1" variable="vessRadio_master" member="yes">
									<label>Server</label>
									<selected>1</selected>
									<style>wxRB_GROUP</style>
								</object>
								<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
								<border>5</border>
								<option>1</option>
							</object>
							<object class="sizeritem">
								<object class="wxRadioButton" name="ID_RADIOBUTTON2" variable="vessRadio_slave" member="yes">
									<label>Client</label>
								</object>
								<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
								<border>5</border>
								<option>1</option>
							</object>
							<object class="sizeritem">
								<object class="wxToggleButton" name="ID_TOGGLEBUTTON2" variable="StartStop" member="yes">
									<label>Start</label>
									<handler function="OnStartStopToggle" entry="EVT_TOGGLEBUTTON" />
								</object>
								<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
								<border>5</border>
								<option>1</option>
							</object>
						</object>
						<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
						<border>5</border>
						<option>1</option>
					</object>
				</object>
			</object>
			<object class="wxScrolledWindow" name="ID_SCROLLEDWINDOW1" variable="logPanel" member="yes">
				<object class="wxBoxSizer" variable="BoxSizer2" member="no">
					<object class="sizeritem">
						<object class="wxTextCtrl" name="ID_TEXTCTRL6" variable="logTextCtrl" member="yes">
							<style>wxTE_MULTILINE|wxTE_READONLY|wxHSCROLL|wxTE_DONTWRAP|wxVSCROLL</style>
						</object>
						<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
						<border>5</border>
						<option>1</option>
					</object>
				</object>
			</object>
		</object>
		<object class="wxMenuBar" variable="wxVess_MenuBar" member="no">
			<object class="wxMenu" variable="Menu1" member="no">
				<label>&amp;File</label>
				<object class="wxMenuItem" name="idMenuOpen" variable="MenuItem3" member="yes">
					<label>&amp;Load Scene</label>
					<accel>Ctrl-O</accel>
					<help>Load a  scene from .xml</help>
					<handler function="OnLoadScene" entry="EVT_MENU" />
				</object>
				<object class="wxMenuItem" name="idMenuSave" variable="MenuItem4" member="yes">
					<label>&amp;Save Scene</label>
					<accel>Ctrl-S</accel>
					<help>Save the current scene to .xml</help>
					<handler function="OnSaveScene" entry="EVT_MENU" />
				</object>
				<object class="wxMenuItem" name="idMenuQuit" variable="MenuItem1" member="no">
					<label>&amp;Quit</label>
					<accel>Alt-F4</accel>
					<help>Quit the application</help>
					<handler function="OnQuit" entry="EVT_MENU" />
				</object>
			</object>
			<object class="wxMenu" variable="Menu3" member="yes">
				<label>&amp;View</label>
				<object class="wxMenuItem" name="idMenuShowConfig" variable="MenuItem5" member="yes">
					<label>Show &amp;Config</label>
					<accel>F2</accel>
					<help>Show the configuration panel</help>
					<handler function="OnShowConfig" entry="EVT_MENU" />
				</object>
				<object class="wxMenuItem" name="idMenuShowEditor" variable="MenuItem6" member="yes">
					<label>Show &amp;Editor</label>
					<accel>Ctrl-E</accel>
					<help>Show the editor</help>
					<handler function="OnShowEditor" entry="EVT_MENU" />
				</object>
				<object class="wxMenuItem" name="idMenuShowRenderer" variable="MenuItem7" member="yes">
					<label>Show &amp;Renderer</label>
					<accel>Ctrl-R</accel>
					<help>Show the 3D renderer window</help>
					<handler function="OnShowRenderer" entry="EVT_MENU" />
				</object>
			</object>
			<object class="wxMenu" variable="Menu2" member="no">
				<label>Help</label>
				<object class="wxMenuItem" name="idMenuAbout" variable="wxVessMenu_About" member="yes">
					<label>&amp;About</label>
					<handler function="OnAbout" entry="EVT_MENU" />
				</object>
			</object>
		</object>
		<object class="wxStatusBar" name="ID_STATUSBAR1" variable="wxVess_StatusBar" member="yes">
			<fields>1</fields>
			<widths>-1</widths>
			<styles>wxSB_NORMAL</styles>
		</object>
		<object class="wxToolBar" name="ID_TOOLBAR1" variable="wxVess_ToolBar" member="yes">
			<bitmapsize>24,24</bitmapsize>
			<object class="tool" name="wxVess_load" variable="ToolBarItem1" member="yes">
				<label>Load Scene</label>
				<bitmap stock_id="wxART_FILE_OPEN" stock_client="wxART_TOOLBAR" />
				<bitmap2 stock_id="wxART_FILE_OPEN" stock_client="wxART_TOOLBAR" />
				<tooltip>Load a scene from .xml file</tooltip>
				<longhelp>Load a scene from .xml file</longhelp>
				<handler function="OnLoadScene" entry="EVT_TOOL" />
			</object>
			<object class="tool" name="wxVess_Save" variable="ToolBarItem2" member="yes">
				<label>Save Scene</label>
				<bitmap stock_id="wxART_FILE_SAVE" stock_client="wxART_TOOLBAR" />
				<bitmap2 stock_id="wxART_FILE_SAVE" stock_client="wxART_TOOLBAR" />
				<tooltip>Save current scene</tooltip>
				<longhelp>Save current scene</longhelp>
				<handler function="OnSaveScene" entry="EVT_TOOL" />
			</object>
			<object class="separator" />
			<object class="tool" name="wxVess_showConfig" variable="ToolBarItem3" member="yes">
				<label>Configuration</label>
				<bitmap>../images/icon_network.gif</bitmap>
				<bitmap2>../images/icon_network.gif</bitmap2>
				<tooltip>Show configuration panel</tooltip>
				<longhelp>Show configuration panel</longhelp>
				<handler function="OnShowConfig" entry="EVT_TOOL" />
			</object>
			<object class="separator" />
			<object class="tool" name="wxVess_showRenderer" variable="ToolBarItem4" member="yes">
				<label>Renderer</label>
				<bitmap>../images/icon_3Dview.gif</bitmap>
				<bitmap2>../images/icon_3Dview.gif</bitmap2>
				<tooltip>Show the rendered 3D view</tooltip>
				<longhelp>Show the rendered 3D view</longhelp>
				<handler function="OnShowRenderer" entry="EVT_TOOL" />
			</object>
			<object class="tool" name="wxVess_showEditor" variable="ToolBarItem5" member="yes">
				<label>Editor</label>
				<bitmap>../images/icon_tree2.gif</bitmap>
				<bitmap2>../images/icon_tree2.gif</bitmap2>
				<tooltip>Show the editor</tooltip>
				<longhelp>Show the editor</longhelp>
				<handler function="OnShowEditor" entry="EVT_TOOL" />
			</object>
		</object>
	</object>
</wxsmith>
