<?xml version="1.0" encoding="utf-8" ?>
<wxsmith>
	<object class="wxFrame" name="wxVessRenderer">
		<title>SPIN :: Renderer</title>
		<size>720,480</size>
		<pos_arg>1</pos_arg>
		<size_arg>1</size_arg>
		<object class="wxToolBar" name="ID_TOOLBAR1" variable="wxVessRenderer_ToolBar" member="yes">
			<object class="tool" name="vessRenderer_grid" variable="ToolBarItem1" member="yes">
				<label>Grid</label>
				<bitmap stock_id="wxART_ERROR" stock_client="wxART_TOOLBAR" />
				<tooltip>Enable/Disable Grid</tooltip>
				<longhelp>Enable/Disable Grid</longhelp>
				<handler function="OnGridToggle" entry="EVT_TOOL" />
				<check>1</check>
			</object>
		</object>
	</object>
</wxsmith>
