<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ALL.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>buildWrappers.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>libSPIN.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>spinserver.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>spinserverUI.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>spinviewer.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>spinviewerUI.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1C386C7C14BD3CBD0065851F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1C57788914BD6F4400632E46</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1C90C17714CCF7E800C929AE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1C90C18C14CDCC3100C929AE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1C9EE81714BE18FA000976A6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1C9EE82814BE2725000976A6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1CA24DF414BE2D3C007A9C31</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1CCCA0BE14BE315400DCA0B7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1CCCA0CC14BE31AB00DCA0B7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
